
RAG_HOST = "localhost"
RAG_PORT = 8000
RAG_N_RESULT = 5
SENTENCE_TRANSFORMER_MODEL = "sentence-transformers/all-MiniLM-L6-v2"
MISTRAL_API_KEY = "KEY"
MISTRAL_API_MODEL = "mistral-7b"

PYRO_API_ID = "PYRO_API"
PYRO_API_HASH = "PYRO_API_HASH"
PYRO_HISTORY_LIMIT = 10

MONGO_USERNAME = "USERNAME"
MONGO_PASSWORD = "PASSWORD"
MONGO_HOST = "localhost"
MONGO_PORT = 27013
MONGO_DATABASE_NAME = "TELERAG-MONGO"

AIOGRAM_API_KEY = "AIO_API"